# Database
news_articles.db

# Virtual environment (don't upload)
venv/
env/

# Python artifacts (don't upload)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.ipynb_checkpoints/

# OS files (don't upload)
.DS_Store
Thumbs.db
